# Compilados de Java y Maven
**/target/
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war

# IDEs y Editores
.idea/
.vscode/
*.iml

# Node / Frontend
**/node_modules/
**/dist/
**/build/
.env.local

# Logs y S.O.
*.log
.DS_Store
